
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}




/*swiper-button-next*/
.swiper-button-next{
    position: absolute;
    top: 90%;
    bottom: auto;
    left: 49%;
    right: auto;
    transform:rotate(-90deg);/*--- 旋转 ---*/
}




/*---s1---*/
.s1{
    background: url("../img/bj.png");
    height: 100%;
}
.s1 img{
    position: absolute;
}
.s1 img:nth-of-type(1){
    width: 30px;
    left:50px;
    top: 125px;
}
.s1 img:nth-of-type(2){
    width: 65px;
    right:35px;
    top: 90px;
}
.s1 img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 185px;
}
.s1 img:nth-of-type(4){
    width: 45px;
    right: 50px;
    bottom: 210px;
}
.s1 img:nth-of-type(5){
    width: 80%;
    left: 50%;
    margin-left: -40%;
    top: 25%;
}